body {
	background: url('../img/background.jpg') no-repeat;
	background-size: cover;
}

.jumbotron {
	background-color: #3a3d5c;
	margin-top: 15%;
}

.jumbotron > h1 {
	color: white;
}

p, h3, h4, label {
	color: white;
}